<div class="header">
  <div class="profile_picture"></div>
  <div class="name"><h1>Arran McCabe</h1></div>
  <div class="social">
    <a href="https://twitter.com/Arran_McCabe">
      <img src="/images/twitter.png">
    </a>
    <a href="https://www.linkedin.com/in/arran-mccabe-977b6144">
      <img src="/images/linkedin.png">
    </a>
  </div>
</div>

<div class="about">
  <h2>About Me</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac est ut leo accumsan tincidunt. Duis mattis neque vitae odio placerat volutpat. Praesent felis tellus, ultrices vitae enim tempus, elementum auctor mi. Curabitur vel porttitor magna. Nullam pulvinar ante nisi. Nullam felis dui, placerat in arcu a, luctus dignissim urna. Pellentesque eu finibus lectus. Nullam facilisis porttitor neque quis sodales. Sed a arcu vitae lacus malesuada congue. Mauris nec nisl non massa semper iaculis vitae ac ante.
  </p>
  <p>
    Quisque dignissim faucibus urna ac egestas. Pellentesque euismod ultrices egestas. Ut ac lectus vulputate, sodales magna nec, gravida purus. Nam magna nisi, imperdiet vel nisl id, commodo bibendum ex. Nunc ut vehicula erat. Suspendisse ut quam vel neque suscipit rhoncus quis vitae augue. Phasellus pharetra ac augue ac ullamcorper. Nam a elit porttitor nunc aliquam lobortis quis at libero.
  </p>
</div>
