<div class="content card">
  <div class="navigation">
    {{#link-to 'about'}}
      About
    {{/link-to}}
    {{#link-to 'experience'}}
      Experience
    {{/link-to}}
    {{#link-to 'contact'}}
      Contact
    {{/link-to}}
  </div>
  {{liquid-outlet}}
</div>
